.rodape{
    background: black;
    height: 6rem ;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}
.conteudo__rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    width: 100%;
    font-size: 2rem;
    font-family: 'Carter One', cursive,sans-serif;
    color: #fff
}
.github {
    width: 50px;
    margin-left: 15px;
}

.linkedin{
    width: 5px;
    margin-left: 10px;
}

@media screen and (min-width:1024px){
    .rodape{
        max-height: 50px;
    }
    .conteudo__rodape{
        font-size:1rem;
    }
}